.header {
    width: 100vw;
    margin: 0em auto;
    padding: 1em;
    padding-left: 10em;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, var(--gradient-start) 80%, var(--gradient-end));
}

.header nav {
    width: fit-content;
    display: flex;
}

.icon {
    height: 100px;
    transition: all 0.1s ease-in;
}

.icon:hover {
    transform: rotate(-10deg);
}

.bgImg {
    position: relative;
    height: 400px;
    top: 0;
    right: 100;
}

.ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-left: 5em;
}

.ul li {
    list-style-type: none;
    width: fit-content;
    height: fit-content;
    margin-left: 1em;
}

.ul li a {
    /* color: chocolate; */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    padding: .5em .75em;
    border-radius: 5px;
    transition: all 0.25s ease-in;
}

.ul li a:hover {
    font-weight: bold;
    background-color: var(--color-bg-white);
    color: var(--color-pink);
    box-shadow: 0 1px 3px var(--color-box-shadow);
}